body{
    background-color:#0a0a23;
    color : #ffffff;
}
.fs-4{
    color:white
}
.nav-link{
    color: #ffffff;
    
}
.nav-pills .nav-link.active{
    background-color: #ff4dd2;
}
.logo-icon{
    color:#ff4dd2;
    font-size: 30px;
    margin-right: 10px;
}
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #0a0a23;
  color: white;
}






span {
  color: #ff4dd2;
}

.btn button {
  padding: 10px;
  background: linear-gradient(to right, #ff4dd2, #007bff);
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 20px;
}

h1{
    margin-left: 50px;
}

p{
    margin-left: 50px;
}
button{
    margin-left: 35px;
}
.border {
    /* border: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important; */
}
  footer {
    background-color: #0a0a23;
    color: white;
    text-align: center;
    padding: 15px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
   }
